:root {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --form-bg-color: #2d2d2d;
  --table-bg-color: #252525;
  --table-text-color: #ffffff;
  --active-input-bg-color: #444444;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, p {
  text-align: center;
}

h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 36px;
}

p {
  font-size: 20px;
  margin-bottom: 50px;
}

/* Form Styling */

form {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--form-bg-color);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

label {
  display: block;
  margin-bottom: 10px;
  color: var(--text-color);
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--form-bg-color);
  color: var(--text-color);
  display: block;
  margin-bottom: 10px;
  transition: background-color 0.3s;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  outline: none;
  background-color: var(--active-input-bg-color);
}

input[type="text"]:hover,
input[type="number"]:hover,
select:hover {
  background-color: #444444;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Table Styling */
table {
  width: 90%;
  max-width: 800px;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: var(--table-bg-color);
}

th {
  text-align: left;
  background-color: #4CAF50;
  color: var(--table-text-color);
  padding: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  color: var(--table-text-color);
}

tr:hover {
  background-color: #555;
  color: #fff;
}

/* Header/Footer Styling */

.header,
.footer {
background-color: var(--table-bg-color);
color: var(--text-color);
width: 100%;
padding: 10px;
position: fixed;
bottom: 0;
font-size: 16px;
}

.footer {
bottom: unset;
top: 0;
}

/* Responsive Design */

@media only screen and (max-width: 600px) {
form {
width: 90%;
max-width: 600px;
padding: 20px;
}

input[type="submit"] {
font-size: 18px;
}
}